@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{

}

body{
    font-family: 'Roboto', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}