$background-url: '../../../../Assets/Image/background.png';

.container{
    background-image: url($background-url);
    background-repeat: 1;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    color: rgb(238, 238, 238);
    position: relative;

    @keyframes zoomAnim {
        0% {height: 80vh; margin-left: 180px; margin-top: 80px;}
        100% { height: 100vh; margin-left: 0px; margin-top:0}
    } 

    .turn-back{
        position: absolute;
        top: 60px;
        left: 50px;
        color: var(--primary-color);
        cursor: pointer;
    }

    h1::before{
        content: '';
        width: 85px;
        height: 2px;
        display: flex;
        background-color: var(--primary-color);
    }

    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .thuc-img{
        width: auto;
        height: 100vh;
        animation: zoomAnim 0.5s linear;        
    }

    .content {
        padding: 100px;

        h1{
            margin-bottom: 30px;
            font-size: 50px;
        }

        p{
            letter-spacing: 1.5px;
            margin-top: 10px;
            font-size: 30px;
        }

        .contact{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icons{
                cursor: pointer;
                margin-top: 10px;
                display: flex;
                width: 14%;
                justify-content: space-between;
                align-items: center;
                z-index: 10;
    
                .icons::after{
                    content: 'Facebook.com';
                    color: aqua;
                    width: 10px;
                    height: 5px;
                }
            }
    
        }
        
    }

}