.container{
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;

    .thuc-img{
        width: auto;
        height: 90vh;
    }

    .content{
        width: 100%;
        height: 50vh;
        align-items: center;
        display: flex;
        flex-direction: column;

        .content-item{
            display: flex;
            align-items: center;
            padding: 15px 70px 15px 30px;
            width:fit-content;
            margin-top: 20px;

            img{
                height: auto;
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}