.container{
    width: 90vw;
    height: 100vh;
    margin-left: 10vw;
    display: flex;
    color: rgb(215, 215, 215);
    align-items: center;
    justify-content: space-around;
    right:0;

    h1::before{
        content: '';
        width: 85px;
        height: 2px;
        display: flex;
        background-color: var(--primary-color);
    }

    .thuc-img{
        width: auto;
        height: 80vh;
        margin: 0px 00px;
    }

    .content {
        padding: 60px;

        h1{
            margin-bottom: 30px;
        }

        p{
            letter-spacing: 1.5px;
            margin-top: 10px;
        }

        .contact{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icons{
                cursor: pointer;
                margin-top: 10px;
                display: flex;
                width: 20%;
                justify-content: space-between;
                align-items: center;    
               
            }    
            
        }
        
    }

}