.container{
    width: 90vw;
    height: 100vh;
    margin-left: 10vw;
    display: flex;
    color: rgb(215, 215, 215);
    align-items: center;
    justify-content: space-around;
    right:0;
    overflow: hidden;

    @keyframes slideLeftToRightAnim {
        0% { left: -500px}
        100% { left: 0;}
    }  
    
    @keyframes opacityAnim {
        0% { opacity: 0}
        100% { opacity: 1;}
    }

    h1::before{
        content: '';
        width: 85px;
        height: 2px;
        display: flex;
        background-color: var(--primary-color);
    }

    .thuc-img{
        width: auto;
        height: 80vh;
        margin: 0px 0px;
        animation: slideLeftToRightAnim 0.8s linear;
        position: relative;
    }

    .content {
        padding: 60px;
        animation: opacityAnim 1s linear;

        h1{
            margin-bottom: 30px;
            font-size: 45px;
        }

        p{
            letter-spacing: 1.5px;
            margin-top: 10px;
        }

        .contact{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icons{
                cursor: pointer;
                margin-top: 10px;
                display: flex;
                width: 20%;
                justify-content: space-between;
                align-items: center;
            }    
            
        }
        
    }

}