.container{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    color: var(--primary-color);;

    .header{
        align-self: flex-start;
        display: flex;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .header::before{
        content: '';
        height: 5px;
        width: 100px;
        background-color: var(--primary-color);
        display: flex;
        align-self: center;
        margin-right: 30px;
    }

    .detail-shinema-img{
        width: 70vw;
        height: auto;
        margin-top: 30px;
    }

    .description{
        width: 80%;
        margin-right: 10%;
        display: flex;
        justify-content: space-between;

        .item{
            white-space: pre-wrap;
        }

        
    }
}