.container{
    background-image: url('../../Assets/Image/background.png');
    margin: 0;
    top: 0;
    left: 0;
    width: 98.9vw;
    height: 100vh;
    background-repeat: 1;
    background-size: cover;
    position: relative;

    @keyframes imgAnim {
        0% { top: 0px}
        100% { top: 30px}
    }
    img{
        margin-left: 10%;
        display: flex;  
        position: absolute;
        animation: imgAnim 3s linear infinite alternate ;
    }

    .rectangle{
        height: 55vh;
        width: 7vw;
        
        position: absolute;
        top: 20vh;
        left: 42vw;
        display: flex;
        justify-self: center;

        border-top: 8px solid #1d375f;
        border-bottom: 8px solid #659aca;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 8px 100%;
        -moz-background-size: 8px 100%;
        background-size: 8px 100%;
        background-image: -webkit-linear-gradient(top, #1d375f 0%, #659aca 100%), -webkit-linear-gradient(top, #1d375f 0%, #659aca 100%);
        background-image: -moz-linear-gradient(top, #1d375f 0%, #659aca 100%), -moz-linear-gradient(top, #1d375f 0%, #659aca 100%);
        background-image: -o-linear-gradient(top, #1d375f 0%, #659aca 100%), -o-linear-gradient(top, #1d375f 0%, #659aca 100%);
        background-image: linear-gradient(to bottom, #1d375f 0%, #659aca 100%), linear-gradient(to bottom, #1d375f 0%, #659aca 100%);
    }

    .content{
        top: 30vh;
        right: 10vw;
        position: absolute;
        color: #fff;
        font-size: 45px;
        font-family: 'Hind Siliguri', sans-serif;
        text-align: end;

        p{
            font-size: 20px;
        }

        .line{
            width: 130px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            top: 150px;
            border-radius: 1.5px;
        }

        a{
            position: relative;
            background-color: #659aca;
            color: #659aca;
            letter-spacing: 0.1em;
            padding: 10px 30px;
            transition: 0.5s;
            font-size: 15px;
        }
        
        & a:hover{
            letter-spacing: 0.25em;
            background-color: #fff;
            color: #fff;
        }

        & a::before{
            content: '';
            position: absolute;
            inset: 2px;
            background-color: #131520;
        }

        a span {
            position: relative;
            z-index: 1;
        }

        a i{
            position: absolute;
            inset: 0;
            display: block;
        }

        a i::before{
            content: '';
            position: absolute;
            top:0;
            left: 80%;
            width: 8px;
            height: 3px;
            background-color: #131520;
            transform: translate(-50%) skew(325deg);
            transition: 0.5s;
        }
        
        & a:hover i::before{
            width: 20px;
            left: 20%;
        }

        a i::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 8px;
            height: 3px;
            background-color: #131520;
            transform: translate(-50%) skew(325deg);
            transition: 0.5s;
        }
        
        & a:hover i::after{
            width: 20px;
            left: 80%;
        }
    }

    
    
}


