.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    color: white;
}

.inner {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav-text{
    display: flex;
    width: 35%;
    justify-content: space-around;
    transition: background-color 2s;
}

.item{
    padding: 5px 13px;
    position: relative;
    

    &:hover{
        .item-background{
            width: 100%;            
        }
        
    }
}

.item-background{
    background-color: #253246;
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin: -5px -13px;
    transition: width 1s;
}
